@model IEnumerable<MovieRentalApp.Models.Customer>
@{
    ViewBag.Title = "ViewCustomers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Customers</h2>

<p>
 @Html.ActionLink("New Customer", "CustomerForm", "Customers", new { @class = "btn btn-primary" })
</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td><b>Customer</b></td>
            <td><b>Membership Type</b></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
        <tr>
            <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
            <td>@customer.MembershipType.Name</td>
        </tr>
        }
    </tbody>
</table>

